@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.page {
  background: #fdfcef;
  border-radius: 50px;
  height: 100vh;
  overflow: hidden;
}

.wrapper5 {
  margin: 60px auto;
  max-width: 960px;
}

.logo6 {
  display: none;
}

.card5 {
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
  outline: 1px solid red;
  display: flex;
}

.card__left5 {
  width: 60%;
}

.card__right5 {
  width: 40%;
  padding: 10% 0;
  /* width: 465px;
    height: 465px; */

  background: linear-gradient(180deg, #ffe195 0%, #ff5b5b 100%);
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__right5 img {
  width: 50%;
}

.card5 h2 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.card5 p {
  margin-top: 30px;
}

.btn5 {
  margin-top: 30px;
  display: inline-block;
  padding: 22px;
  width: 221px;
  height: 69px;
  background: #ff6861;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  text-align: center;
}


.card3 {
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
  outline: 1px solid red;
  display: flex;
  background: linear-gradient(62deg, rgba(255, 246, 223, 1) 0%, rgba(255, 223, 222, 1) 100%);
  ;
  border-radius: 60px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.card__left3 {
  width: 60%;
}

.card__right3 {
  width: 40%;
  padding: 10% 0;
  /* width: 465px;
    height: 465px; */

  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__right3 img {
  width: 50%;
}

.card3 h2 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.card3 p {
  margin-top: 30px;
}

.btn3 {
  margin-top: 30px;
  display: inline-block;
  padding: 22px;
  width: 221px;
  height: 69px;
  background: #ff6861;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  text-align: center;

}

.wrapper3 {
  margin: 60px auto;
  max-width: 960px;

}

.page1 {
  display: inline block;
  text-align: center;
  align-items: flex-start;

}

.footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 720px) {
  .wrapper5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo5 {
    width: 180px;
    display: none;
  }

  .logo6 {
    width: 180px;
    display: inline-block;
  }

  .card5 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .wrapper3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card3 {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (max-width: 420px) {}

  @keyframes box (.btn5) {
    from {
      left: 0;
    }

    to {
      left: 300px;
    }
  }